<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .container {
            max-width: 500px;
        }
        input[type=email], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 10px 0;
            display: inline-block;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
        }
        #message {
            margin-top: 10px;
        }
        .btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Register</h3>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/user/save}" th:object="${user_dto}">
                <div class="form-group">
                    <label for="input-email">Email</label>
                    <input aria-describedby="emailHelp" class="form-control" id="input-email" th:field="*{email}"
                           type="email" placeholder="Enter your email">
                </div>

                <div class="form-group">
                    <label for="input-password">Password</label>
                    <input class="form-control" id="input-password" th:field="*{password}" type="password" placeholder="Enter your password">
                </div>

                <div class="form-group">
                    <label for="input-password-confirm">Confirm Password</label>
                    <input class="form-control" id="input-password-confirm" name="passwordConfirm"
                           onkeyup="checkPassword()"
                           type="password" placeholder="Confirm your password">
                    <span id='message'></span>
                </div>

                <button class="btn btn-primary mt-3" disabled id="submit-button" type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>
<script type='text/javascript'>
    function checkPassword() {
        var password = document.getElementById('input-password').value;
        var confirmPassword = document.getElementById('input-password-confirm').value;
        var message = document.getElementById('message');

        if (password === confirmPassword) {
            message.style.color = 'green';
            message.innerHTML = 'Passwords match';
            document.getElementById('submit-button').disabled = false;
        } else {
            message.style.color = 'red';
            message.innerHTML = 'Passwords do not match';
            document.getElementById('submit-button').disabled = true;
        }
    }
</script>
</body>
</html>