<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User Details</title>
</head>
<body>
<h2>User Details</h2>
<div>
    <h4>User Id:</h4>
    <p th:text="${user.userId}"></p>
</div>
<div>
    <h4>Email:</h4>
    <p th:text="${user.email}"></p>
</div>
<div>
    <h4>Password (Hashed):</h4>
    <p th:text="${user.pass_bcrypt}"></p>
</div>
<div>
    <h4>All User's Messages:</h4>
    <table>
        <tr>
            <th>Message Id</th>
            <th>Message Text</th>
        </tr>
        <tr th:each="message : ${user.allUsersMessages}">
            <td th:text="${message.messageId}"></td>
            <td th:text="${message.text}"></td>
        </tr>
    </table>
</div>
</body>
</html>